    <div class="col-sm-6">
	<div class="panel panel-primary" ng-controller="userListCtrl">
	         <div class="panel-heading">user_List</div>
	         <div class="panel-body  table-responsive">
	              <table class="table">
	                  <thead>
	                      <tr>
	                      	<th>姓名</th>
	                      	<th>详情</th>
	                      </tr>
	                  </thead>
	                  <tbody>
	              	<tr ng-repeat="userList in userLists">
	              		<td>{{userList.profile_name}}</td>
	              		<td><a href="#/resume/{{userList.profile_id}}"><i class="fa fa-eye fa-2x"></i></a></td>      
	              	</tr>
	              	</tbody>
                              </table>  
	         </div>
	         
	          
	 </div>
    </div>
