<section class="heading">
     	<div style="padding-left:30px;">
     	    <h1>你好!</h1>
     	    <p>欢迎浏览我的简历</p>
     	</div>
     </section>	
     <div class="container resume" ng-controller="resumeCtrl">
  	<div class="col-sm-4 col-sm-push-8">
  	      <div class="avatar">
  	      	<img  class="img-thumbnail" ng-src="/media/{{profile.avatar}}" />
  	      </div>
  	      <div class="panel panel-default sidebar">
                           	 <ul class="list-group">
                                       <li class="list-group-item">
                                    <p>姓名:{{profile.name}}</p>  
                                    <p>性别:{{profile.sex}}</p> 
                                    <p>出生年月:{{profile.birthday | date: 'yyyy-MM'}}</p>                         
                                    <!-- <p> Job</p> -->
                                       </li>
                                       <li class="list-group-item">
                                       <p>电子邮件:{{profile.email}}</p>
                                       <p>地址:{{profile.address}}</p>
                                       <p>phone:{{profile.phone}}</p>
                                       </li>
<!--                                         <li class="list-group-item">
                                       <p>Contact me on...</p>
                                       <p>facebook</p>
                                       <p>twitter</p>
                                       <p>g+</p>
                                       <p>github</p>
                                       </li> -->
                                      </ul>                                   
                           </div>
  	</div>
  	<div class="col-sm-8 col-sm-pull-4 mainContent">
                     <div class="panel panel-default">
                           	 <ul class="list-group">
                                       <li class="list-group-item">
                                       <h2>自我简介</h2>                              
                                     {{profile.introducion}}
                                       </li>
                                       <li class="list-group-item">
                                    <h2>技能</h2>                              
                                    <div class="row">
                                    <button class="btn skillBtn" ng-class="{'btn-info':{{skill.degree == 2}},'btn-primary':{{skill.degree == 3}},'btn-success':{{skill.degree == 4}},'btn-danger':{{skill.degree == 5}}}" type="button"  ng-switch  on="{{skill.degree}}" ng-repeat="skill in skills">
                                        {{skill.name}}
                                        <span class="badge" ng-switch-when="1">了解</span>
                                        <span class="badge" ng-switch-when="2">掌握</span>
                                        <span class="badge" ng-switch-when="3">熟悉</span>
                                        <span class="badge" ng-switch-when="4">精通</span>
                                        <span class="badge" ng-switch-when="5">专家</span>
                                    </button>
                                    </div>
                                       </li>
                                       <li class="list-group-item">
                                      <h2>项目经验</h2> 
                                      <div class="timeline">
                                            <div class="line"></div>
                                            <div>
                                            	<div class="panel panel-primary project" ng-repeat="project in projects | orderBy:'published_date' : true">
                                            	<i class="fa" ng-class="{'fa-mobile fa-2x':{{project.condition == 'mobile'}},'fa-desktop':{{project.condition == 'desktop'}},'fa-asterisk':{{project.condition == 'both'}}}"></i>
                                              <span class="label label-info publishedDate">{{project.published_date | date : 'yyyy-MM'}}</span>
                                            	<div class="panel-heading">{{project.title}}</div>
  			                        <div class="panel-body">
                                                     {{project.description}}
                                                     </div>
                                                 <div class="panel-footer"><a href="{{project.link}}" class="btn btn-primary btn-sm" ng-disabled="{{project.link == 'None' }}"><i class="fa fa-eye"></i>预览</a><a href="{{project.source_code}}" class="btn btn-primary btn-sm" ng-disabled="{{project.source_code == 'None'}}"><i class="fa fa-github"></i>源码</a></div>
                                                </div>
                                            </div>
                                     </div>  
                                       </li>
                                       <li class="list-group-item">
                                       <h2>工作经验</h2>                              
                                     <div class="table-responsive">
                                           <table class="table">
                                                  <thead>
                                                       <tr>
                                                              <th>工作公司</th>
                                                                <th>职位</th>
                                                               <th>开始日期</th>
                                                               <th>结束日期</th>
                                                        </tr> 
                                                 </thead>
                                                 <tbody>
                                                       <tr ng-repeat="worklog in worklogs">
                                                             <td>{{worklog.company}}</td>
                                                             <td>{{worklog.job}}</td>
                                                             <td>{{worklog.start}}</td>
                                                             <td>{{worklog.end}}</td>
                                                        </tr> 
                                                </tbody>
                                            </table>
                                          </div>
                                       </li>
                                       <li class="list-group-item">
                                       <h2>毕业院校</h2>                              
                                      <div class="table-responsive">
                                           <table class="table">
                                                  <thead>
                                                       <tr>
                                                              <th>学校</th>
                                                               <th>开始日期</th>
                                                               <th>结束日期</th>
                                                        </tr> 
                                                 </thead>
                                                 <tbody>
                                                       <tr ng-repeat="education in educations">
                                                             <td>{{education.title}}</td>
                                                             <td>{{education.start}}</td>
                                                             <td>{{education.end == 'None' ? '至今' : education.end}}</td>
                                                        </tr> 
                                                </tbody>
                                            </table>
                                          </div>
                                       </li>
                                      </ul>                                   
                           </div>
  	</div>
     </div>
